<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beatonma.orbitalslivewallpaper"
    android:versionCode="32"
    android:versionName="2.0.0" >

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <application
        android:name="org.beatonma.orbitalslivewallpaper.OrbitalsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OrbitalsApp" >

        <activity
            android:name="org.beatonma.orbitalslivewallpaper.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Wallpaper service -->
        <service
            android:name="org.beatonma.orbitalslivewallpaper.services.LwpService"
            android:enabled="true"
            android:label="@string/service_title"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" >
            </meta-data>
        </service>

        <!-- Dream service -->
        <service
            android:name="org.beatonma.orbitalslivewallpaper.services.ScreensaverService"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_title"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream" />
        </service>
    </application>
</manifest>
